faster-whisper==1.1.1
ctranslate2==4.6.0
transformers==4.52.3
sentencepiece==0.2.0
pysrt==1.1.2
nltk==3.9.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0+cpu
torchvision==0.22.0+cpu
torchaudio==2.7.0+cpu
